<div class="content">
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th>Nom</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let region of regions; index as i">
                        <td class="text-center">{{ region.id }}</td>
                        <td>{{ region.name }}</td>
                        <td class="td-actions text-right">
                            <button type="button" rel="tooltip" class="btn btn-info btn-sm btn-round btn-icon">
                              <i class="tim-icons icon-pencil"></i>
                            </button>
                            <button type="button" rel="tooltip" class="btn btn-danger btn-sm btn-round btn-icon">
                              <i class="tim-icons icon-simple-remove"></i>
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>