<div class=" content">
    <div class=" row">
        <div class=" col-12">
            <div class=" card card-chart">
                <div class=" card-header">
                    <div class=" row">
                        <div class=" col-sm-6 text-left">
                            <h5 class=" card-category">
                                <i class=" tim-icons icon-sound-wave text-success"> </i>Nombre des signalements
                            </h5>
                            <h2 class=" card-title">2021</h2>
                        </div>
                        <div class=" col-sm-6">
                            <div class=" btn-group btn-group-toggle float-right" data-toggle="buttons">
                                <label class=" btn btn-sm btn-danger btn-simple" (click)="data=datasets[0];updateOptions();clicked=true;clicked1=false;clicked2=false" [ngClass]="{'active':clicked===true}">
                  <input checked="checked" name="options" type="radio" />

                  <span
                    class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
                  >
                    Nouveau
                  </span>
                  <span class=" d-block d-sm-none">
                    <i class=" tim-icons icon-single-02"> </i>
                  </span>
                </label>
                                <label class=" btn btn-sm btn-danger btn-simple" (click)="data=datasets[1];updateOptions();clicked=false;clicked1=true;clicked2=false" [ngClass]="{'active':clicked1===true}">
                  <input
                    class=" d-none d-sm-none"
                    name="options"
                    type="radio"
                  />

                  <span
                    class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
                  >
                    En cours de traitement
                  </span>
                  <span class=" d-block d-sm-none">
                    <i class=" tim-icons icon-gift-2"> </i>
                  </span>
                </label>
                                <label class=" btn btn-sm btn-danger btn-simple" (click)="data=datasets[2];updateOptions();clicked=false;clicked1=false;clicked2=true" [ngClass]="{'active':clicked2===true}">
                  <input class=" d-none" name="options" type="radio" />

                  <span
                    class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
                  >
                    Terminé
                  </span>
                  <span class=" d-block d-sm-none">
                    <i class=" tim-icons icon-tap-02"> </i>
                  </span>
                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" card-body">
                    <div class=" chart-area"><canvas id="chartBig1"> </canvas></div>
                </div>
            </div>
        </div>
    </div>
    <div class=" row">
        <div class=" col-md-4">
            <div class=" card h-100">
                <div class=" card-header">
                    <h4 class=" card-title">
                        <i class=" tim-icons icon-caps-small text-success"> </i> Top 5 des mots-clés dans les signalements
                    </h4>
                </div>
                <div class=" card-body">
                    <div class=" table">
                        <table class=" table" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Mots-clés</th>
                                    <th>Nombre</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let keyword of mostRepetitiveKeywords">
                                    <td>{{ keyword[0] }}</td>
                                    <td class=" text-center">{{ keyword[1] }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-md-8">
            <div class=" card card-chart h-100">
                <div class=" card-header">
                    <h5 class=" card-category">
                        <i class=" tim-icons icon-chart-bar-32 text-success"> </i> Top 6 des régions qui ont les plus des signalements
                    </h5>
                </div>
                <div class=" card-body">
                    <div class=" chart-area"><canvas id="CountryChart"> </canvas></div>
                </div>
            </div>
        </div>
    </div>
</div>